
    <div class="pragmatic_header">
        <div>
            <h1 class="pragmatic_logo">JOK9KING</h1>
        </div>
        <div class="pragmatic_header_navbar">
            <a href="{% url 'articleApp:list' %}" class="pragmatic_header_nav">
                <span>Articles</span>
            </a>
            <a href="{% url 'projectApp:list' %}" class="pragmatic_header_nav">
                <span>Projects</span>
            </a>
            <span>nav3</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountApp:login' %}?next={{ request.path }}" class="pragmatic_header_nav">
                <span>Sign In</span>
            </a>
            <a href="{% url 'accountApp:create' %}" class="pragmatic_header_nav">
                <span>Sign Up</span>
            </a>
            {% else %}
            <a href="{% url 'accountApp:detail' pk=user.pk %}" class="pragmatic_header_nav">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountApp:logout'  %}?next={{ request.path }}" class="pragmatic_header_nav">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>